.subForm {
  display: flex;
}

.subForm input,
.subForm button {
  outline: none;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  margin: 0 10px;
}

.subForm button {
  background-color: hsl(12, 88%, 59%);
  color: white;
  cursor: pointer;
}

.subForm button:hover {
  box-shadow: 1px 1px 1px 1px white;
}

@media screen and (max-width: 420px) {
  .subForm input,
  .subForm button {
    padding: 10px 20px;
    border-radius: 20px;
    margin: 0 5px;
  }

  .subForm button {
    cursor: pointer;
  }
}

@media screen and (max-width: 810px) {
  .subForm input,
  .subForm button {
    padding: 10px;
    border-radius: 20px;
    margin: 0 5px;
  }
}

@media screen and (max-width: 599px) {
  .form {
    margin: 0 auto;
  }

  .subForm {
    justify-content: space-around;
    margin: 0;
  }
}
