.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px 0 30px 0;
  margin-bottom: 20px;
}

.nav {
  display: flex;
}

.nav li {
  list-style: none;
  margin-left: 10px;
}

.nav li a {
  font-weight: 500;
  color: hsl(228, 39%, 23%);
  font-size: 17px;
}

.nav li a:hover {
  color: hsl(227, 12%, 61%);
}

.dropdown {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}
.getstarted_btn_h {
  background-color: hsl(12, 88%, 59%);
  color: white;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 40px;
  margin: 20px 0;
}

.getstarted_btn_h:hover {
  box-shadow: 2px 1px 2px 2px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 810px) {
  .nav li a {
    font-size: 12px;
  }
}

@media screen and (max-width: 499px) {
  .header {
    position: relative;
    display: flex;
    align-items: center;
  }
  .nav {
    display: none;
  }
  .getstarted {
    display: none;
  }

  .dropdown {
    display: flex;
  }
}

@media (max-width: 720px) {
  .header {
    position: relative;
    padding: 20px 0;
  }

  .nav {
    display: none;
  }

  .show {
    display: flex;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    width: 80vw;
    padding: 20px 0;
    border-radius: 10px;
    z-index: 1;
  }
  .show li {
    position: relative;
    margin: 20px 0;
    list-style: none;
    margin-left: 10px;
  }

  .show li::before {
    position: absolute;
    bottom: 0;
    content: "";
    width: 0;
    height: 2px;
    background: green;
    transition: width 1s;
  }

  .show li:hover::before {
    width: 100%;
  }

  .show li a {
    font-weight: 500;
    color: hsl(228, 39%, 23%);
    font-size: 17px;
  }

  .show li a:hover {
    color: hsl(227, 12%, 61%);
  }

  .getstarted_btn_h {
    display: none;
  }
  .dropdown {
    display: flex;
  }
}
