.intro_board,
.b2 {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 4em;
  margin-bottom: 100px;
  background: url("/images/bg-tablet-pattern.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: -100px;
}

.motto_wrapper {
  width: 100%;
}

.motto {
  font-size: 60px;
  margin-bottom: 40px;
}

.sub_motto {
  font-size: 20px;
  width: 70%;
}

.btnwrapper {
  margin: 20px 0;
}

.one {
  width: 60%;
}

.one p {
  width: 90%;
  margin-top: 20px;
}

.ill {
  width: 100%;
}

.tes_title_label {
  text-align: center;
}

@media screen and (max-width: 720px) {
  .motto {
    font-size: 40px;
  }

  .sub_motto {
    font-size: 20px;
    width: 100%;
  }

  .b2 {
    grid-template-columns: 40% 60%;
    grid-gap: 1em;
  }
  .one {
    width: 100%;
  }
}

@media (max-width: 599px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .motto {
    font-size: 40px;
    margin-bottom: 40px;
  }

  .sub_motto {
    width: 90%;
    margin: auto;
  }

  .container {
    padding: 0 10px;
  }

  .intro_board {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }

  .b2 {
    display: flex;
    flex-direction: column;
    grid-gap: 1em;
  }

  .one {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .one h2 {
    font-size: 40px;
  }

  .one p {
    padding: 0 30px;
  }
}

@media (max-width: 729px) {
  .container {
    padding: 0 170px;
  }

  .b2 {
    position: relative;
  }
}

@media (max-width: 920px) {
  .container {
    padding: 0 40px;
  }
}

@media screen and (max-width: 360px) {
  .motto {
    font-size: 30px;
  }
  .sub_motto {
    width: 100%;
  }

  .one {
    width: 100%;
  }

  .one h2 {
    font-size: 30px;
  }

  .one p {
    padding: 0 10px;
    font-size: 15px;
    text-align: center;
  }
}
