.tes_card {
  position: relative;
  text-align: center;
  background-color: hsl(0, 0%, 98%);
  height: 170px;
  width: 300px;
  padding: 10px;
  margin: 100px 0;
}

.tes_image {
  position: absolute;
  left: 50%;
  top: -40px;
  z-index: 9;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 599px) {
  .tes_card {
    width: 100vw;
  }
  .tes_card_wrapper {
    display: flex;
  }
}
